ul, li {
  margin: 0;
  padding: 0;
}

.header_content__nav {
  display: flex;
  background-color: #484949;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
}

.header_content__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
}

.header_content__nav ul li {
  position: relative;
}

.header_content__nav ul > li {
  margin-right: 2rem; 
}

.header_content__nav ul li .sub {
  position: absolute;
  background-color: #646262ae;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  min-width: 120px;   /* 너비 추가 */
  top: 100%;    /* 부모 li의 아래쪽 바로 밑 */
  left: 0;      /* 좌측 정렬 */
}

.header_content__nav ul li .sub li {
  white-space: nowrap; /* 줄 바꿈 방지 */
  padding: 0;
  cursor: pointer;
  line-height: 1;
  margin: 0.25rem 0;  /* 위아래 0.25rem 간격 */


}

.header_content__nav ul li:hover .sub {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.active > a {
  color: #646cff;
  font-weight: bold;
}

